<form action="/processRegister" method="POST" method="GET">
    <input type="username" class="form-control input-login" id="inputUser" placeholder="Username" name="username" required>
    <br>
    <input type="emailAddress" class="form-control input-login" id="inputEmail" placeholder="Email" name="email" required>
    <br>
    <input type="password" class="form-control input-login" id="inputPassword" placeholder="Password" name="password" required>
    <br>
    <input type="password" class="form-control input-login" id="inputConfirmPassword" placeholder="Confirm Password" name="confirmPassword" required>
    <br>
    <select class="form-control dropdown-main" name="userType">
        <option value="CITY_SCIENTIST">CITY_SCIENTIST</option>
        <option value="CITY_OFFICIAL">CITY_OFFICIAL</option>
    </select>
    <br>
    <button type="submit" class="btn btn-fp" name="Register">Register</button>
</form>